.button {
  padding: 9px 16px;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.4px;
  color: #53687e;
  border-radius: 2px;
  border: solid 1px #d6d6d6;
  background: white;
}

.button__continue-theme{
  background: #2888d1;
  color: #ffffff;
  padding: 9px 16px;
}

.button__remove-theme{
  padding: 5px 16px;
  border: solid 1px #eaeaea;
  background-color: #f7f8fa;
  font-weight: normal;
  letter-spacing: 0.5px;
  color: #53687e;
}

.button__edit-theme{
  background: #2888d1;
  color: #ffffff;
  padding: 5px 16px;
}

.aria-busy{
  position: absolute;
  right: 50%;
}
