.confirmation-component{
  position: absolute;
  top: 22%;
  left: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #53687e;
  background: white;
  max-width: 500px;
  height: 350px;
  padding: 20px;
}

.confirmation-component__title{
  font-size: 20px;
}

.confirmation-component__btn-container{

}


.button {
  padding: 9px 16px;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.4px;
  color: #53687e;
  border-radius: 2px;
  border: solid 1px #d6d6d6;
  background: white;
}

.button__continue-theme{
  background: #2888d1;
  color: #ffffff;
  padding: 9px 16px;
}

.button__remove-theme{
  padding: 5px 16px;
  border: solid 1px #eaeaea;
  background-color: #f7f8fa;
  font-weight: normal;
  letter-spacing: 0.5px;
  color: #53687e;
}

.button__edit-theme{
  background: #2888d1;
  color: #ffffff;
  padding: 5px 16px;
}

.button__back-theme{
  font-family: OpenSans;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  color: #53687e;
  padding: 6px 16px;
  border-radius: 2px;
  border: solid 1px #53687e;
  background-color: #ffffff;
}

.button:hover{
  cursor: pointer;
}