.header {
  height: 64px;
  background-color: #175786;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left__container {
  max-width: 278px;
  justify-content: space-around;
  flex: 1;
  align-items: center;
}

.left__container img {
  height: 33px;
}

.right__container {
  max-width: 253px;
  justify-content: space-around;
  flex: 1;
}

.header__container {
  display: flex;
}

.header__container h3 {
  font-family: OpenSans;
  letter-spacing: 0.63px;
  color: #ffffff;
  font-size: 14px;
}

.header__container h3:hover {
  cursor: pointer;
}
