.offices {
    background: #ffffff;
    width: 79.6%;
}

.offices-header {
    border-bottom: dotted 1px #eaeaea;

    .offices-header-title {
        margin: 0;
        padding-bottom: 19px;
        font-family: OpenSans;
        font-size: 32px;
        letter-spacing: 2px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;

        .offices-header-title__first {
            color: #53687e;
        }

        .offices-header-title__second {
            color: #b7bdc4;
            padding-left: 10px;
        }
    }

    .offices-header__sub-title {
        margin: 0;
        padding-bottom: 35px;
        font-family: OpenSans;
        font-size: 14px;
        letter-spacing: 0.4px;
        color: #334152;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
    }
}

.offices-container {
    padding: 38px 51px 0 60px;
}

.office--visible {}

.office--hidden {
    display: none;
}

.offices-page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px #eaeaea;
    margin-top: 40.5px;
    padding-top: 39.5px;
    padding-bottom: 39.5px;

    .offices-page-footer__container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .container__img {
        padding-left: 71px;
        padding-right: 5px;
    }

    .skip__btn {
        padding-right: 32px;
    }

    .btn__container {
        padding-right: 32px;
    }
}