.offices {
  background: #ffffff;
  width: 79.6%;
}

.offices-header {
  border-bottom: dotted 1px #eaeaea;
}

.offices-header .offices-header-title {
  margin: 0;
  padding-bottom: 19px;
  font-family: OpenSans;
  font-size: 32px;
  letter-spacing: 2px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
}

.offices-header .offices-header-title .offices-header-title__first {
  color: #53687e;
}

.offices-header .offices-header-title .offices-header-title__second {
  color: #b7bdc4;
  padding-left: 10px;
}

.offices-header .offices-header__sub-title {
  margin: 0;
  padding-bottom: 35px;
  font-family: OpenSans;
  font-size: 14px;
  letter-spacing: 0.4px;
  color: #334152;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
}

.offices-container {
  padding: 38px 51px 0 60px;
}

.add-new-office--visible {
  display: flex;
}

.add-new-office--hidden {
  display: none;
}
